.banner {
  height: 90vh;
  position: relative;
  background: url("../pictures/background.jpg") center center;
  background-size: cover;
}

.banner_info > h1 {
  position: absolute;
  width: 344px;
  height: 198px;
  left: 80px;
  top: 437px;
  font-family: "Built Titling";
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 110%;
  color: #efe7cf;
  text-shadow: 0px 10px 20px rgba(14, 31, 10, 0.5), 4px 4px 0px #0e1f0a;
}
