.Button {
  position: sticky;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 7vw;
  margin-left: 50%;
  margin-bottom: 10%;
  border: none;
  background-color: #eb8836f3;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 5px 15px;
  border-radius: 4px;
  top: 0;
}
.Button:hover {
  background-color: rgb(245, 166, 62);
  color: white;
  border: 1px solid;
}

.OpenButton {
  position: sticky;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 7vw;
  margin-left: 50%;
  margin-bottom: 5%;
  border: none;
  background-color: #eb8836f3;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 5px 15px;
  border-radius: 4px;
  top: 0;
}

.OpenButton:hover {
  background-color: rgb(245, 166, 62);
  color: white;
  border: 1px solid;
}
