.Button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 5vw;
  margin-left: 90%;
  margin-bottom: 10%;
  border: none;
  background-color: #eb8836f3;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  top: 0;
}
.Button:hover {
  background-color: white;
  color: #eb8836f3;
  border: 1px solid black;
}
