.card {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(54, 48, 48, 0.514);
  border-radius: 5px;
  background-color: #f39a52f3;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.07);
}
.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 16px;
  position: static;
  width: 290px;
  height: 290px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 40px;
}

.card__info > h2 {
  position: static;
  width: 226px;
  height: 44px;
  left: 0px;
  top: 0px;
  font-family: "Roboto Slab";
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  color: #efe7cf;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 20px 0px;
}
.card__info > h4 {
  position: static;
  width: 226px;
  height: 78px;
  left: 0px;
  top: 56px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #efe7cf;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 12px 0px;
}
