.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.header_icon {
  position: static;
  height: 100px;
  margin-left: 2%;
  margin-top: 1%;
}

.header > h1 {
  margin-right: 90%;
  display: flex;
  color: #eb8836f3;
  margin-top: 1%;
  font-size: 20px;
}
