.containerTrail {
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(54, 48, 48, 0.514);
  border-radius: 5px;
  background-color: #ffddbf;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 800px;
  height: 1200px;
}
.containerTrail > h2 {
  padding-top: 20px;
  font-size: 26px;
}
.containerTrail_infoBasic {
  margin-top: -9px;
  border-radius: 10px;
  padding-left: 80px;
  padding-right: 40px;
  padding-top: 40px;
  border: 1;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.Trail__length {
  font-size: 16px;
}

.containerTrail_infoBasic > p {
  font-weight: 16px;
  padding-right: 100px;
  padding-top: 5px;
}
.containerTrail > img {
  align-items: center;
  padding-top: 30px;
}
.containerTrail_infoTop > h3 {
  font-size: 22px;
  padding-top: 40px;
}
.containerTrail_infoBottom > h3 {
  font-size: 22px;
}
.containerTrail_infoBottom {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.containerTrail_map {
  padding-top: 60px;
  padding-left: 250px;
  padding-right: 250px;
}

.containerTrail_infoRight {
  padding-top: 80px;
}

.containerTrail_infoRight > p {
  font-size: 16px;
}

.containerTrail_infoBottom > p {
  font-size: 16px;
  padding-top: 20px;
}
.Trail__difficulty {
  color: black;
  font-size: 15px;
}

.containerTrail_infoRight {
  align-items: center;
  color: rgb(15, 15, 15);
  padding-left: 40px;
  padding-right: 40px;
}
.tip {
  color: black;
}
.containerTrail_infoRight > p {
  padding-top: 10px;
}
