.noTrails {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 200px;
}

.noTrails > img {
  text-align: left;
  justify-content: left;
  width: 30px;
  height: 30px;
}

.savedTrails {
  display: grid;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.savedTrailsInfo {
  padding-top: 30px;
}
.savedTrailsInfo > p {
  padding-right: 20px;
  padding-top: 40px;
}
.savedTrailsInfo > button {
  padding-right: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}
.savedTrailsInfoBottom {
  align-items: space-between;
}
