.searchInputs {
  margin-top: 50px;
  display: flex;
  border: 1px solid rgb(83, 82, 82);
  display: flex;
  flex: 2;
  align-items: center;
  max-width: fit-content;
  margin-left: 800px;
}

.search input {
  border: 0;
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
  padding: 15px;
  height: 10px;
  width: 300px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  position: absolute;
  width: 350px;
  height: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  margin-left: 800px;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

#clearBtn {
  cursor: pointer;
}
