.trailsItem {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.trailsItem_icons > p {
  font-size: 13px;
  padding-left: 15px;
  padding-top: 15px;
}

.trailsItem__length {
  padding-left: 1%;

  margin-left: 30%;
  color: #eeaa6f;
}

.trailsItem__altitude {
  padding-left: 1%;
  margin-left: 30%;
  color: #eeaa6f;
}

.trailsItem__difficulty {
  padding-left: 1%;
  margin-left: 30%;
  color: #eeaa6f;
}

.trailsItem > img {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.trailsItem:hover > img {
  opacity: 0.8;
}

.trailsItem__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 80px;
}
.trailsItem__length {
  display: flex;
  align-items: center;
}

.trailsItem__infoTop {
  width: 40vw;
}

.trailsItem__infoTop > h3 {
  font-size: 20px;
  margin-top: 10px;
}
.trailsItem__infoTop > h2 {
  font-size: 30px;
  margin-top: 10px;
}

.trailsItem__infoTop > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.trailsItem__infoBottom {
  display: flex;
  justify-content: space-between;
}

.trailsItem__save {
  display: flex;
  align-items: center;
  color: #eeaa6f;
}
.trailsItem__share {
  margin-left: 85%;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #eeaa6f;
}

@media only screen and (min-width: 1200px) {
}
.trailsItem__container {
  display: flex;
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1024px) {
}
