* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.header_icon {
  object-fit: contain;
  height: 100px;
  margin-left: 2%;
  margin-top: 1%;
}

.header > h1 {
  margin-right: 80%;
  display: flex;
  color: #eb7d7f;
  margin-top: 1%;
}

.header_right > Button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5vw;
  margin-left: 90%;
  border: none;
  background-color: #eb7d7f;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 8px 16px;
  border-radius: 4px;
}
.header_right > Button:hover {
  background-color: white;
  color: #eb7d7f;
  border: 1px solid black;
}
